<% include header %>
<h1>Typography</h1>

<p style="line-height: 22px;">
    Defines fonts, colors, and sizing.
</p>

<div class="sections">

    <div class="section">
        <h2>Headers</h2>
        <hr>
        <h1>H1 Header</h1>
        <h2>H2 Header</h2>
        <h3>H3 Header</h3>
        <h4>H4 Header</h4>
        <h5>H5 Header</h5>
        <h6>H6 Header</h6>

<pre class="code prettyprint">
&lt;h1&gt;H1 Header&lt;/h1&gt;
&lt;h2&gt;H2 Header&lt;/h2&gt;
&lt;h2&gt;H3 Header&lt;/h3&gt;
&lt;h3&gt;H4 Header&lt;/h4&gt;
&lt;h4&gt;H5 Header&lt;/h5&gt;
&lt;h5&gt;H6 Header&lt;/h6&gt;
</pre>
    </div>

       <div class="section">
        <h2>Coloring</h2>
        <hr>
        
        <span class="red">.red</span>
        <span class="error">.error</span>

        <span class="green">.green</span>
        <span class="success">.success</span>

        <span class="light-blue">.light-blue</span>

        <span class="blue">.blue</span>

        <span class="orange">.orange</span>

        <span class="gray">.gray</span>
        <span class="disabled">.disabled</span>

<pre class="code prettyprint">
&lt;span class=&quot;red&quot;&gt;.red&lt;/span&gt;
&lt;span class=&quot;error&quot;&gt;.error&lt;/span&gt;

&lt;span class=&quot;green&quot;&gt;.green&lt;/span&gt;
&lt;span class=&quot;success&quot;&gt;.success&lt;/span&gt;

&lt;span class=&quot;light-blue&quot;&gt;.light-blue&lt;/span&gt;

&lt;span class=&quot;blue&quot;&gt;.blue&lt;/span&gt;

&lt;span class=&quot;orange&quot;&gt;.orange&lt;/span&gt;

&lt;span class=&quot;gray&quot;&gt;.gray&lt;/span&gt;
&lt;span class=&quot;disabled&quot;&gt;.disabled&lt;/span&gt;
</pre>
    </div>
</div>

<% include footer %>